################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/NG-AUTH-DEMO/.vs
/NG-AUTH-DEMO/NgAuth/bin
/NG-AUTH-DEMO/NgAuth/obj

/NG-AUTH-DEMO/NgAuth/node_modules
/NG-AUTH-DEMO/NgAuth/wwwroot/clientapp

/NG-AUTH-DEMO/.vscode
