################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/NG4_REG_LOG/.vs
/NG4_REG_LOG/NG4_REG_LOG/bin
/NG4_REG_LOG/NG4_REG_LOG/obj

/NG4_REG_LOG/NG4_REG_LOG/node_modules
/NG4_REG_LOG/NG4_REG_LOG/wwwroot/clientapp

